$minimumWidth: 16rem;

.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: $minimumWidth;
    width: 70%;
    gap: 16px;

    &-title {
        width: 100%;
        min-width: $minimumWidth;
        border-bottom: 1px solid $secondaryColor;
    }

    &-button {
        .save-button {
            color: white;
            margin-top: 1rem;
            align-self: flex-end;
            background-color: $primarySuccessColor;
            padding: 0.5rem 1.2rem;
            border: 0;
            font-weight: bolder;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    min-width: $minimumWidth;

    label {
        align-self: flex-start;
        font-size: small;
        margin-bottom: 0.4rem;
    }

    input[type='text'],
    input[type='checkbox'] {
        width: 100%;
        box-sizing: border-box;
    }

    &-input { 
        padding: 1.2rem 0.4rem;
        border: 0;
        background-color: $secondaryColor;
        border-radius: 6px;
    }
}

.form-field-checkbox {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: $minimumWidth;

    .form-field-checkbox-box {
        color: $primaryColor;
    }

    label {
        margin-right: 8px;
        font-size: 0.8rem;
    }

    input[type='checkbox'] {
        margin-right: 8px;
        margin-bottom: 0;
        accent-color: $primarySuccessColor;

        &:hover {
            cursor: pointer;
        }
    }
}

.add-form-button {
    display: flex;
    width: 40%;
    min-width: $minimumWidth;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
