$primaryColor: #ffffff;
$secondaryColor: #eaeaea;
$primaryWarningColor: #fe5153;
$secondaryWarningColor: #f87577;
$primarySuccessColor: #69ae5d;
$secondarySuccessColor: #d0fad2;
$primaryTextColor: black;
$secondaryTextColor: #7a7777;
$likeColor: #ff3b43;
$selectedColor: #999696;

$SCREEN_XL: 1620px;
$SCREEN_MD: 1240px;
$SCREEN_SM: 980px;

$margin-xl: 4rem;
$margin-md: 2rem;
$margin-sm: 1rem;


